<div id="cb-about" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-opacity">
    <div class="w3-display-container w3-amber w3-padding">
        <div class="w3-wide"><b>ABOUT</b></div>
        <div style="height: 100%" 
            onclick="document.getElementById('cb-about').style.display='none'" 
            class="w3-red w3-button w3-display-right"><i class="fa fa-times"></i>
        </div>
    </div>
    <div class="w3-container w3-padding">
        <w3-row>
            <div class="w3-col m6 l9">
                <div class="w3-xxlarge w3-text-blue" style="text-shadow:2px 2px 2px #44444488"><b>{{title}}</b></div>
                <div class="w3-xlarge w3-text-dark-gray" style="text-shadow:1px 1x 2px #44444488"><b>{{subtitle}}</b></div>
                <div class="w3-large">Version {{version}}</div>
                <hr>
                <p>{{desc}}</p>
                <div class="w3-hide-small w3-hide-medium" style="min-height:100px;"></div>
            </div>
            <div class="w3-col m6 l3">
                <div class="w3-right w3-hide-small">
                    <img id="express-pic" src="/images/express.png" alt="express logo">
                </div>
            </div>
        </w3-row>
    </div>
    <div class="w3-bar w3-gray w3-small">
        <div class="w3-bar-item padding-v0"><img id="dwb-logo" src="/images/p-logo_w_s.png" alt="piranha logo"></div>
        <div class="w3-bar-item padding-v0"><img id="jt-logo" src="/images/n-logo_w_s.png" alt="sewing logo"></div>
        <div class="w3-bar-item">(c) 2020 by j.t. &amp; d.w.b &mdash; using <b>w3.css</b>|<b>express</b>|<b>hbs</b>|<b>mongoose</b></div>
    </div>
    </div>
</div>
