<div class="w3-container">
    <div class="w3-card-4 w3-padding w3-margin w3-white">
        <div class="w3-bar">
            <div class="w3-bar-item w3-xxlarge w3-left">
                <span class="w3-jumbo w3-text-indigo w3-wide title">{{title}}</span><br>
                <span class="w3-xlarge">The platform for your handcraft projects and management of needed accessories you need!</span><br>
            </div>
            <div class="w3-bar-item padding-0 w3-blue w3-right"><img id="express-logo" style="height:100%" src="/images/express-logo.png" alt="express logo"></div>
        </div>
    </div>
    <div class="w3-padding w3-margin w3-large">
    </div>
</div>