<div class="w3-container">
    <div class="w3-card-4 w3-padding w3-margin w3-white">
        <div class="w3-bar" style="height: 150px;">
            <div class="w3-bar-item w3-xxlarge w3-left">{{title}}<br><span class="w3-large">{{subtitle}}</span></div>
            <div class="w3-bar-item padding-0 w3-indigo w3-right"><img id="express-logo" src="/images/express-logo.png" alt="express logo"></div>
        </div>
    </div>
    <div class="w3-padding w3-margin">
        <p>Welcome to '{{title}} &mdash; {{subtitle}}'</p>
    </div>
</div>