{{> header this}}

<div id="start" class="header-spc"></div>
<div class="w3-container" style="height: 95%">
    <div class="w3-card w3-padding w3-margin w3-white">
        <div class="w3-row">
            <div class="w3-col m12 l8 w3-xxlarge">
                <span class="w3-jumbo w3-text-indigo w3-wide title">{{title}}</span><br>
                <span class="w3-xlarge">{{desc}}</span><br>
            </div>
            <div class="w3-col m12 l4">
                <div class="padding-v0 w3-right w3-hide-small w3-hide-medium"><img id="express-logo" class="w3-blue" style="height:100%" src="/images/express-logo.png" alt="express logo"></div>
                <div class="padding-v0 w3-center w3-hide-large"><img class="w3-blue" style="width:250px;" src="/images/express-logo.png" alt="express logo"></div>
            </div>
        </div>
    </div>
    <div class="w3-container w3-flex">
        <div class="w3-flex-item-p w3-card w3-padding w3-white">
            <div class="w3-flex-item-content">
                <div class="w3-margin-bottom">
                    <div>
                        <img src="/images/def-project.png" alt="projects">
                        <p class="w3-large w3-border w3-text-indigo w3-right">PROJECTS</p>
                    </div>
                    <div class="w3-margin-bottom">
                        <p>Lorem ipsum dolor sit amet, cu eos autem dolore, dolorem reprimique quo id. 
                           Velit postea contentiones an qui. Audiam scripserit sed ad, in qui dicunt utroque, 
                           per alii deseruisse id. Menandri mandamus te pri. Eu vide possit splendide est, est cu 
                           feugait ancillae probatus. Vis consequat democritum ut, vim novum nemore nominati in. 
                           Prima aeque phaedrum id vix.
                        </p>
                    </div>
                    <div>
                        <a href="/secret/project/view" class="w3-small w3-button w3-blue"><i class="fa fa-th-list fa-pad"></i>VIEW PROJECTS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-flex-item-p w3-card w3-padding w3-white">
            <div class="w3-flex-item-content">
                <div class="w3-margin-bottom">
                    <div>
                        <img src="/images/def-pattern.png" alt="pattern">
                        <p class="w3-large w3-border w3-text-indigo w3-right">PATTERNS</p>
                    </div>
                    <div class="w3-margin-bottom">
                        <p>Lorem ipsum dolor sit amet, cu eos autem dolore, dolorem reprimique quo id. 
                           Velit postea contentiones an qui. Audiam scripserit sed ad, in qui dicunt utroque, 
                           Prima aeque phaedrum id vix.
                        </p>
                    </div>
                    <div>
                        <a href="/secret/component/view" class="w3-small w3-button w3-blue"><i class="fa fa-th-list fa-pad"></i>VIEW COMPONENTS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-flex-item-p w3-card w3-padding w3-white">
            <div class="w3-flex-item-content">
                <div class="w3-margin-bottom">
                    <div>
                        <img src="/images/def-fabric.png" alt="fabric">
                        <p class="w3-large w3-border w3-text-indigo w3-right">FABRICS</p>
                    </div>
                    <div class="w3-margin-bottom">
                        <p>Lorem ipsum dolor sit amet, cu eos autem dolore, dolorem reprimique quo id. 
                           Per alii deseruisse id. Menandri mandamus te pri. Eu vide possit splendide est, est cu 
                           feugait ancillae probatus. Vis consequat democritum ut, vim novum nemore nominati in. 
                           Prima aeque phaedrum id vix.
                        </p>
                    </div>
                    <div>
                        <a href="/secret/component/view" class="w3-small w3-button w3-blue"><i class="fa fa-th-list fa-pad"></i>VIEW COMPONENTS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-padding w3-margin w3-large">
    </div>
</div>
