
.w3-dropdownsub-click,.w3-dropdownsub-hover{position:relative;display:inline-block;cursor:pointer;top: 0;left: 100%; margin-top: -1px;}
.w3-dropdownsub-hover:hover .w3-dropdownsub-content{display:block}
.w3-dropdownsub-hover:first-child,.w3-dropdownsub-click:hover{background-color:#ccc;color:#000}
.w3-dropdownsub-hover:hover > .w3-button:first-child,.w3-dropdownsub-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-dropdownsub-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.w3-bar-block .w3-dropdownsub-hover,.w3-bar-block .w3-dropdownsub-click{width:100%}
.w3-bar-block .w3-dropdownsub-hover .w3-dropdownsub-content,.w3-bar-block .w3-dropdownsub-click .w3-dropdownsub-content{min-width:100%}
.w3-bar-block .w3-dropdownsub-hover .w3-button,.w3-bar-block .w3-dropdownsub-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-bar .w3-dropdownsub-hover,.w3-bar .w3-dropdownsub-click{position:static;float:left}
.w3-sub{ left: 100%; top: 55%;}

@media (max-width:600px){
.w3-dropdownsub-hover.w3-mobile .w3-dropdownsub-content,.w3-dropdownsub-click.w3-mobile .w3-dropdownsub-content{position:relative}	
.w3-dropdownsub-hover.w3-mobile,.w3-dropdownsub-click.w3-mobile{text-align:center}
.w3-dropdownsub-hover.w3-mobile,.w3-dropdownsub-hover.w3-mobile .w3-btn,.w3-dropdownsub-hover.w3-mobile .w3-button,.w3-dropdownsub-click.w3-mobile,.w3-dropdownsub-click.w3-mobile .w3-btn,.w3-dropdownsub-click.w3-mobile .w3-button{width:100%}}

.w3-sidebar-cb{height:100%;width:100%;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}

.nav-ind{ padding-left: 50px !important;}
