:root {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

* {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  line-height: 1.8;
  background-color: #ffffff;
  color: #000;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin: 0px;
}

.w3-bar .w3-button {
  padding: 16px;
}

.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../images/sewing-m-bkg.png");
  min-height: 100%;
}

/* ----------------------------------- */

.h100{ height: 100%; }
.err-message { background-color: #ff0000; color: #fff; padding: 10px; }

#exp-logo { height: 2.5rem; }
#dwb-logo { height: 1.25rem; }
#jt-logo { height: 1.25rem; }
#express-logo { height: 5.0rem; }
#express-pic { width: 150px; margin: 10px 20px; }

.padding-v0 { 
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.padding-btn { 
  padding: 8px 16px !important;
}
.padding-2 { 
  padding: 2px !important;
}

.small-caps {
  font-variant: small-caps;
}

.nav-hr {
  border: 0;
  border-top: 2px solid #eee;
  margin: 5px 0;
}

.header-fix{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.box-shadow-bottom {
  box-shadow: 0px 0px 5px #444;
}

.footer-fix {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#header-spc, .header-spc{ height: 60px; max-height: 60px; min-height: 60px;}
#footer-spc{ height: 50px; max-height: 50px; min-height: 50px;}

.title {
  font-weight: bold;
  text-shadow: 2px 2px 2px #2196F399, 5px 5px 10px #444;
}

#cb-about { background: url("../images/abt_bkg.png"); background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.5) }

//--------------------------------------------------

.w3-flex {
  display: flex;
  flex-wrap: wrap;
}

.w3-flex-item, .w3-flex-item-p, .w3-flex-item-c {
  display: flex; 
  width: 96%;
  margin: 0 1em 1em 0;
}
.w3-flex-item {
  width: 100%;
}

@media all and (min-width: 40em) {
  .w3-flex-item-p {
    width: 43%;
  }
  .w3-flex-item-c {
    width: 31%;
  }
}
@media all and (min-width: 60em) {
  .w3-flex-item-p {
    width: 31%;
  }
  .w3-flex-item-c {
    width: 20%;
  }
}

.w3-flex-item-content, .w3-flex-item-content-r {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  padding: 1em;
  width: 100%;
}
.w3-flex-item-content-r {
  flex-direction: row;
}

.comp-img {
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.comp-img img {
  width: auto;
  height: 100%;
}

.w3-ta-3 { height: 4rem; min-height: 4rem; max-height: 16rem; min-width: 100%; max-width: 100%; }

.w3-round-large-up {
  border-radius: 8px
}

.fa-pad { padding-right: 4px;}

.font-allerta { font-family: "Allerta Stencil", Sans-serif;}

.w3-row-padding { padding: 0px !important;}

.w3-row-padding div:first-child { padding-left: 0px !important;}
.w3-row-padding div:last-child { padding-right: 0px !important;}

@media (max-width:600px) {
  .w3-row-padding div:first-child { padding: 0px !important;}
  .w3-row-padding div:last-child { padding: 0px !important;}
}

