<div id="start" class="header-spc"></div>
<div class="w3-container">
    <h2 class="small-caps">Create New Fabric</h2>
    <hr>
</div>

<div class="w3-container">
<div class="w3-card-4 w3-padding w3-margin-bottom w3-white" style="width: 80%; ">
  <div class="w3-container w3-deep-orange">
    <h2>Create New Fabric</h2>
  </div>
  <form class="w3-container" action='/secret/component/create/fabric' method="POST">
    <p>      
    <label class="w3-text-blue"><b>Fabric Name</b></label>
    <input class="w3-input w3-border w3-light-grey" name="name" type="text" required></p>
    <p>      
    <label class="w3-text-blue"><b>Description</b></label>
    <input class="w3-input w3-border w3-light-grey" name="description" type="text"></p>
    <p>
      <p>      
    <label class="w3-text-blue"><b>Image</b></label>
    <input class="w3-input w3-border w3-light-grey" name="imageUrl" type="url"></p>
    <p>
      <p>      
    <label class="w3-text-blue"><b>Made of</b></label>
    <input class="w3-input w3-border w3-light-grey" name="material" type="text"></p>
    <p>
      <p>      
    <label class="w3-text-blue"><b>Fabric Length</b></label>
    <input class="w3-input w3-border w3-light-grey" name="length" type="number" required></p>
    <p>
      <p>      
    <label class="w3-text-blue"><b>Fabric Width</b></label>
    <input class="w3-input w3-border w3-light-grey" name="width" type="number" required></p>
    <p>
      <p>      
    <label class="w3-text-blue"><b>Main Color</b></label>
    <input class="w3-input w3-border w3-light-grey" name="color" type="text"></p>
    <p>
      <p>      
    <label class="w3-text-blue"><b>Pattern</b></label> <br>
    <input class="w3-radio w3-border w3-light-grey" name="pattern" type="radio" value="false" checked>Uni fabric</p>
    <input class="w3-radio w3-border w3-light-grey" name="pattern" type="radio" value="true">Has a pattern</p>
    
    <p>
    <button class="w3-btn w3-blue" type="submit">Save</button></p>
  </form>
  </div>
</div>
