<div id="start" class="header-spc"></div>

  <div class="w3-container">
  <div class="w3-card w3-round-large w3-margin-bottom w3-white" style="width: 80%; margin-left: 10%; ">
    <div class="w3-container w3-deep-orange w3-margin-bottom">
      <h3 class="small-caps">Create New Pattern</h3>
    </div>
    <form class="w3-padding" action='/secret/component/create/pattern{{this._id}}' method="POST">
      
        <label class="w3-text-blue"><b>Pattern Name</b></label>
        <input class="w3-input w3-border w3-margin-bottom" name="name" type="text" required placeholder="Give it a name">
      
        <label class="w3-text-blue"><b>Description</b></label>
        <textarea class="w3-input w3-border w3-margin-bottom w3-ta-3" maxlength="500" rows="2" name="description" placeholder="Describe the main characteristics"></textarea>
      
        <label class="w3-text-blue"><b>Image</b></label>
        <input class="w3-input w3-border w3-margin-bottom" name="imageUrl" type="text" placeholder="Enter image path or url">
      
        <label class="w3-text-blue"><b>Type of Clothing</b></label>
        <input class="w3-input w3-border w3-margin-bottom" name="typeOfClothes" type="text" required placeholder="e.g Skirt, Shirt, Jacket,...">
      
        <label class="w3-text-blue"><b>Instructions</b></label>
        <textarea class="w3-input w3-border w3-margin-bottom w3-ta-3" maxlength="500" rows="2" name="instructions" type="text" required placeholder="Enter all neccessary information to use the pattern"></textarea>
        <p>
          <button class="w3-button w3-blue w3-margin" type="submit">Save</button>
          <button class="w3-button w3-dark-gray" type="button" onclick="window.location.assign('/secret/component/view');"><i class="fa fa-times fa-pad"></i>Close</button>
        </p>
    </form>

    </div>
  </div>





