<div id="start" class="header-spc"></div>
<div class="w3-container w3-margin">
  <div class="w3-display-container">
    <div class="w3-display-topmiddle w3-card w3-white">
      <div class="w3-padding"></div>
        <form action="/secret/component/delete/{{this.componend.type}}/{{this.componend._id}}" method="post">
        <h2 class="w3-panel w3-red">Do you really want to Delete?</h2>
          <div class="w3-center">
            <p>{{this.componend.title}}</p>
          </div>
          <div class="w3-center">
            <button type="submit" class="w3-button w3-wide w3-red w3-small w3-margin-bottom ">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>    
</div>


