<div class="w3-container">
    <h2 class="small-caps">Component Overview</h2>
    <hr>

    <div class="w3-flex">
        {{#each this.fabric}}
        {{> component this}}
        {{/each}}
    </div>

    <div class="w3-flex">
        {{#each this.pattern}}
        {{> component this}}
        {{/each}}
    </div>
    
</div>