<div class="w3-container">
  <h2 class="small-caps">Project Create</h2>
  <div class="w3-card w3-margin-bottom w3-white">
    <div class="w3-container w3-orange">
      <h2>Enter information for a new project</h2>
    </div>
    <div class="w3-container">
      <form class="">
        <input class="w3-input" type="text">
        <label>First Name</label>

        <input class="w3-input" type="text">
        <label>Last Name</label>

        <input class="w3-input" type="text">
        <label>Email</label>

        <button class="w3-btn w3-blue">Register</button>
      </form>
    </div>
  </div>
  <a href="/secret/project/view" class="w3-button w3-wide w3-blue w3-small w3-margin-bottom"><i class="fa fa-eye"></i> View Projects</a>
</div>
