<div id="start" class="header-spc"></div>
<div class="w3-container">
    <h2 class="small-caps">Component Choose For Project</h2>
    <hr>
    <form class="w3-margin-bottom" action="/secret/project/addcomponent/{{this.project._id}}" method="POST">
        <h4 class="w3-panel w3-opacity w3-blue">Available Patterns</h4>
        <div class="w3-flex">
            {{#each this.pattern}}
            {{> componentchoose this}}
            {{/each}}
        </div>

        <h4 class="w3-panel w3-opacity w3-blue">Available Fabrics</h4>
        <div class="w3-flex">
            {{#each this.fabric}}
            {{> componentchoose this}}
            {{/each}}
        </div>
        <button class="w3-btn w3-blue" type="submit"><i class="fa fa-plus"></i> Add Selection</button>
    </form>    
</div>