<div class="w3-container">
    <h2 class="small-caps">Project Overview</h2>
    <a href="/secret/project/create" class="w3-button w3-wide w3-green w3-small w3-margin-bottom"><i class="fa fa-plus"></i> Add New Project</a><br>
    {{#each this.projects}}
        <div class="w3-container w3-padding w3-card w3-margin-bottom w3-white w3-show-inline-block" style="width: 49%">
            <p class=" w3-large w3-border w3-text-indigo">{{this.name}}</p>
            <p class=""><span class="w3-text-blue">Owner:</span> {{this.owner}}</p>
            <p class=""><span class="w3-text-blue">Description:</span> {{this.description}}</p>
            <p class=""><span class="w3-text-blue">Notes:</span> {{this.notes}}</p>
            <a href="/secret/project/detail" class="w3-button w3-wide w3-blue w3-small"><i class="fa fa-eye"></i> View</a>
            <a href="/secret/project/edit" class="w3-button w3-wide w3-blue w3-small"><i class="fa fa-pencil"></i> Edit</a>
            <a href="#" class="w3-button w3-wide w3-red w3-small"><i class="fa fa-trash"></i> Delete</a>
        </div>
    {{/each}}<br>
    <a href="#header-spc" class="w3-button w3-wide w3-purple w3-small w3-margin-bottom"><i class="fa fa-arrow-up"></i></a>

</div>
